<h1>Get Request Received</h1>
<ul>

    <table id="gettable"></table>
    <tr>
        <th>Parameter:value</th>
    </tr>

    {{#each dataList}}
    <tr>
        <td> {{this.name}}: {{this.value}}</td>
    </tr>
    {{/each}}

    </table>