<h1>POST Request Received</h1>

<table id="posttable">
    <th>Parameter:value</th>
    <tr>
        {{#each dataList}}
        <td>{{this.name}}: {{this.value}}</td>
        {{/each}}
    </tr>
</table>
<table id="querytable">
    <tr>
        <th>Query String</th>
    </tr>


    {{#each dataList}}
    <tr>
        <td> {{this.name}}: {{this.value}}</td>
    </tr>
    {{/each}}

</table>